{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Download</div>
        <div class="panel-body">
            <script>
                var url = "{{ url }}";
                jQuery.post( '/worker', {url: url}, function( data ) {
                    $( ".result" ).html('Downloaded ! You can download the video <a href="'+data+'">here</data>');
                });
            </script>
            <div class="result">Downloading ...</div>
        </div>
    </div>
{% endblock %}