{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Download</div>
        <div class="panel-body">
            You ask for {{ url }}
        </div>
    </div>
{% endblock %}